<div class="container clearfix">
    <div class="main">
        <h1 id="main-title">Please sign in</h1>
		
		<a href="/auth/dropbox/" class="btn">with Dropbox</a>

        <a href="/auth/github/" class="btn">with GitHub</a>

        <a href="/auth/google/" class="btn">with Google+</a>


    </div>
</div>